/.DS_Store
/.npmrc
/.yarn
/Cargo.lock
/node_modules
/package-lock.json
/target
/yarn-error.log
/yarn.lock
/*/.DS_Store
/*/.npmrc
/*/.yarn
/*/Cargo.lock
/*/node_modules
/*/package-lock.json
/*/target
/*/yarn-error.log
/*/yarn.lock
